/* секция title, строка: путь и социальные иконоки, строка заголовка*/

#title {
	margin-top: 130px;
}

#title .social {
	height: 30px;
	background: #F2F3F6;
	display: flex;
	align-items: center;
}

#title .social .social_stroke {
	display: flex;
	justify-content: space-between;
}

#title .social .social_stroke .address {
	text-transform: uppercase;
	color: #ABB0BB;
	font-size: 14px;
	position: relative;
	top: 2px;
}

#title .social .social_stroke .social_icon a {
	margin-left: 20px;
	position: relative;
	top: 2px;
}

#title .social .social_stroke .social_icon a:hover > svg .btc {
	fill: #F8B513;
}

#title .social .social_stroke .social_icon a:hover > svg .telega {
	fill: #2BA0DA;
}

#title .social .social_stroke .social_icon a:hover > svg .face {
	fill: #1774EB;
}

#title .social .social_stroke .social_icon a:hover > svg .insta {
	fill: #ED503F;
}

#title .social .social_stroke .social_icon a:hover > svg .appstore {
	fill: #227BEA;
}

#title .social .social_stroke .social_icon a:hover > svg .android {
	fill: #90C400;
}

#title .social .social_stroke .social_icon a .dscr {
	position: absolute;
	left: -25px;
	top: 30px;
	background: #949494;
	color: #fff;
	width: 70px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: none;
}

#title .social .social_stroke .social_icon a .gp {
	width: 90px;
	left: -35px;
}

#title .social .social_stroke .social_icon a:hover > .dscr {
	display: block;
}

#title .title_main {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

#title .title_main .title_dao h1 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 60px;
}

#title .title_main .title_dao {
	flex: 3;
}

#title .title_main .advice {
	flex: 1;
}

#title .title_main .advice h4 {
	margin-bottom: 10px;
}

#title .title_main .advice p a {
	color: #ABB0BB;
}

#title .title_main .advice p a:hover {
	color: #FF0000;
	transition: .3s;
}

/* блок плиток с инфо */

#info .info_items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#info .info_items .item {
	width: 376px;
	height: 256px;
	border: 1px solid #ABB0BB;
	border-radius: 10px;
	margin-bottom: 60px;
	padding: 20px;
	cursor: pointer;
}

#info .info_items .item p {
	color: #ABB0BB;
}

#info .info_items .item:hover > p {
	color: #FF0000;
	transition: .3s;
}

#info .info_items .item .icon {
	background: url(../img/icon/info_sprite.png);
	background-repeat: no-repeat;
	width: 75px;
    height: 50px;
    margin-bottom: 35px;
}

#info .info_items .item h3 {
	margin-bottom: 25px;
}

#info .info_items .item .icon_offers {
	background-position: -9px -11px;
}

#info .info_items .item .icon_beginner {
	background-position: -182px -11px;
}

#info .info_items .item .icon_faq {
	background-position: -287px -9px;
}

#info .info_items .item .icon_flower {
	background-position: -100px -11px;
}

#info .info_items .item .icon_plant {
	background-position: -388px -11px;
}

#info .info_items .item .icon_services {
	background-position: -470px -11px;
}

/* блок карусели с фермами */

#farms {
	margin-top: 60px;
}

#farms .farms_line {
	width: 100%;
	height: 35px;
	background: #F2F3F6;
}

#farms .farms_line img {
	margin-top: -2px;
}

#farms .farms_sl {
	margin: 25px 0;
}

#farms .farms_sl .sl_item {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 15px;
	outline: none;
	width: 280px;
}

#farms .farms_sl .sl_item a {
	display: block;
	margin-bottom: 25px;
	outline: none;
}

#farms .farms_sl .sl_item a img {
	transition: filter .2s ease-in-out;
  	-webkit-filter: grayscale(99%);
 	filter: grayscale(99%);
 	opacity: 0.7;
 	max-width: 250px;
}

#farms .farms_sl .sl_item a img:hover {
	transition: filter .2s ease-in-out;
  	-webkit-filter: grayscale(0%);
 	filter: grayscale(0%);
 	cursor: pointer;
 	opacity: 1;
}

#farms .slick-prev:before, 
#farms .slick-next:before {
	color: #fff;
}

/* блок новостей */

#news {
	margin: 120px 0;
}

#news .newsbox {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#news .news_title {
	flex: 1;
	width: 330px; 
}

#news .news_title .dscr {
	color: #ABB0BB;
}

#news .news_title .dscr a {
	color: #ABB0BB;
}

#news .news_title .dscr a:hover {
	color: #FF0000;
	transition: .3s;
}

#news .news_items {
	flex: 2;
	margin-left: 200px;
}

#news .news_title h2 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 15px;
}

#news .news_items .item {
	margin-bottom: 25px;
}

#news .news_items .item .article a {
	color: #ABB0BB;
	font-size: 10px;
	margin-bottom: 5px;
}

#news .news_items .item .article a:hover {
	color: #FF0000;
	transition: .3s;
}

#news .news_items .item h4 {
	max-width: 570px;
	position: relative;
}

#news .news_items h4 span {
	position: absolute;
	top: 0;
	right: -80px;
}

#news .news_title .link_news {
	float: right;
	margin-top: 25px;
}

#news .news_title .link_news_adaptiv {
	display: none;
}

/* стрелка вверх */

.back_To_Top {
	position: fixed;
	bottom: 50px;
	right: 25px;
	cursor: pointer;
	display: none;
}

.back_To_Top .dscr {
	position: absolute;
	left: -15px;
	top: -25px;
	background: #949494;
	color: #fff;
	width: 60px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: none;
}

.back_To_Top:hover > .dscr {
	display: block;
}


/* адаптация  */


@media only screen and (max-width: 1250px) {
	#news .news_items .item h4 {
		max-width: 560px;
	}
}

@media only screen and (max-width: 1200px) {
    #info .info_items .item {
    	width: 350px;
	}

	#news .news_items .item h4 {
		max-width: 520px;
	}
}

@media only screen and (max-width: 1100px) {
	#news .news_items .item h4 {
		max-width: 505px;
	}
}

@media only screen and (max-width: 1024px) {
	#info .info_items .item {
    	width: 315px;
	}

	#news .news_items {
    	margin-left: 120px;
	}
}

@media only screen and (max-width: 960px) {
	#title {
    	margin-top: 100px;
	}

	#news .news_items {
    	margin-left: 15px;
	}

	#news .news_items .item h4 {
    	max-width: 530px;
	}

	#info .info_items .item {
   		width: 290px;
	}
}

@media only screen and (max-width: 800px) {
	#title .title_main .title_dao {
    	flex: 1.6;
	}

	#title .title_main .title_dao h1 {
		font-size: 24px;
	}

	#info .info_items .item {
    	width: 360px;
	}

	#news {
		margin: 30px 0;
	}

	#news .newsbox {
		flex-flow: column;
	}

	#news .news_title {
    	flex: 1;
    	width: 100%;
    	margin-bottom: 30px;
	}

	#news .news_title .link_news {
		display: none;
	}

	#news .news_items {
		margin-left: 0;
	}

	#news .news_items .item h4 {
    	max-width: 680px;
	}

	#news .news_items .link_news_adaptiv {
		display: block;
		float: right;
	}
}

@media only screen and (max-width: 420px) {
	#title {
    	margin-top: 85px;
	}

	#news .news_items .item h4 {
    	max-width: 275px;
	}

	#farms .farms_sl .sl_item a img {
		max-width: 170px;
	}

	#title .title_main .title_dao h1 {
    	text-align: center;
    	margin-bottom: 30px;
    }

	#title .title_main .advice {
		display: none;
	}

	#info .info_items {
		flex-flow: column;
		align-items: center;
	}

	#info .info_items .item {
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 375px) {
	#news .news_items .item h4 {
		max-width: 270px;
	}	
}






