@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Regular.ttf);
}

body {
	background: #FAFAFA;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins", sans-serif;
	font-size: 12px;
	color: #333333;
}

a {
	text-decoration: none;
	color: #2F80ED;
	cursor: pointer;
	outline: none;
}

a:hover {
	color: #FF0000;
	transition: .3s;
}

.container {
	margin: 0 auto;
	width: 1200px;
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0px; 
}

::-webkit-scrollbar-track {
  background-color: #fff; 
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 2px;
  background-color: #ABB0BB;
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px; 
}

::-webkit-scrollbar {
  width: 5px; 
}

/* адаптация */

@media only screen and (max-width: 1250px) {
	.container {
		margin: 0 auto;
		width: 1170px;
	}
}

@media only screen and (max-width: 1200px) {
	.container {
		margin: 0 auto;
		width: 1100px;
	}
}

@media only screen and (max-width: 1100px) {
	.container {
		margin: 0 auto;
		width: 1080px;
	}
}

@media only screen and (max-width: 1024px) {
	.container {
		margin: 0 auto;
		width: 1000px;
	}
}

@media only screen and (max-width: 960px) {
	.container {
		margin: 0 auto;
		width: 940px;
	}
}

@media only screen and (max-width: 800px) {
	.container {
		margin: 0 auto;
		width: 760px;
	}
}

@media only screen and (max-width: 420px) {
	.container {
		margin: 0 auto;
		width: 388px;
	}
} 

@media only screen and (max-width: 414px) {
	.container {
		margin: 0 auto;
		width: 355px;
	}
}